<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sign up| Online Order</title>
    <!-- Bootstrap -->
    <link href="{% static 'login/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'login/css/mystyle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'login/css/register_page.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'login/jquery-3.2.1.js' %}"></script>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="{% url 'mainpage:index' %}">Online <span>Order</span></a>
            </div>
        </div>
    </div>
    <div class="register_content">
        <form class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input class="form-control" id="nameFocusedInput" type="text" value="" name="user_name">
                        </div>
                        <label class="col-sm-5 control-label usernameTip">Username already exist!</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Create Password</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input class="form-control" id="passwordFocusedInput" type="password" value="" name="user_pwd">
                        </div>
                        <label class="col-sm-5 control-label" for="passwordFoucusedInput" hidden></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input class="form-control" id="ensurePasswordFocusedInput" type="password" value="">
                        </div>
                        <label class="col-sm-5 control-label ensurePasswordTip" for="ensurePasswordFocusedInput">Please confirm your password</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <!-- <div class="col-sm-10"> -->
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-success" id="signup_btn">
                                Sign up
                            </button>
                            <button type="button" class="btn btn-success" id="back_mainpage">Back</button>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </form>
    </div>
    <!--footer-->
    <div class="myfooter">
        <div class="container">
            <div class="copy">
                <p>Copyright &copy; 2017. ZIYANG WANG &amp; MIAOGAO</p>
            </div>
        </div>
    </div>
    <!--footer-->
    <script type="text/javascript">
    $("#signup_btn").click(function() {
        var username = $.trim($("#nameFocusedInput").val());
        var password1 = $.trim($("#passwordFocusedInput").val());
        var password2 = $.trim($("#ensurePasswordFocusedInput").val());
        if (username != "" && password1 != "" && password2 != "" && password1 == password2) {
            $.post("{% url 'login:register' %}", {
                user_name: username,
                user_pwd: password1,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            }, function(data, status) {
                if (data == 1) {
                    //success
                    alert("Sign up successfully");
                    location.href = "{% url 'mainpage:jmp_to_complete_info' %}";
                } else if (data == 2) {
                    //failed
                    alert("Sign up failed");
                }

            });
        } else {
            //something wrong
            alert("Please fill all required fields correctly");
        }
    });

    $('#back_mainpage').click(function(){
        location.href = "{% url 'mainpage:index' %}";
    });

    $("#nameFocusedInput").focusin(function() {
        if ($.trim($(this).val()) != "" && $(".usernameTip").css("visibility") == "visible") {
            $(".usernameTip").css("visibility", "hidden");
        }
    });



    $("#nameFocusedInput").focusout(function() {
        //alert("out");
        var aName = $.trim($("#nameFocusedInput").val());
        if (aName != "") {
            //duplicated name
            $.post("{% url 'login:duplicated_username' %}", {
                name: aName,
                'csrfmiddlewaretoken': '{{csrf_token}}'
            }, function(data, status) {
                if (data == 0) {
                    //existed username
                    $(".usernameTip").css("visibility", "visible");
                }
            });
        }
    });


    $("#ensurePasswordFocusedInput").focusout(function() {
        var password1 = $.trim($("#passwordFocusedInput").val());
        var password2 = $.trim($("#ensurePasswordFocusedInput").val());

        if (password1 != "" && password2 != "" && password2 != password1) {
            $(".ensurePasswordTip").css("visibility", "visible");

        }

    });

    $("#ensurePasswordFocusedInput").focusin(function() {
        if ($.trim($(this).val()) != "" && $(".ensurePasswordTip").css("visibility") == "visible") {
            $(".ensurePasswordTip").css("visibility", "hidden");
        }
    });
    </script>
</body>

</html>