@font-face {
    font-family: 'PoiretOne-Regular';
    src:"{% static 'login/PoiretOneRegular.ttf' %}"
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:"{% static 'login/OpenSansRegular.ttf' %}"
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.usernameTip {
    color: #ff0000;
    width: auto;
    padding-left: 0px;
    visibility: hidden;
}

.ensurePasswordTip {
    color: #ff0000;
    width: auto;
    padding-left: 0px;
    visibility: hidden;
}

/* button.ensure {
    width: 200px;
} */