<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Home</title>
    <link href="{% static 'mainpage/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="{% static 'mainpage/css/indexstyle.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'mainpage/js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">
    #allmap {
        width: 1120px;
        height: 600px;
        overflow: hidden;
        margin: auto;
    }
    </style>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-top-bar">
                <ul class="header-grid">
                    {% if user.username != '' %}
                    <script type="text/javascript">
                    $(".header-grid").css("left", "70%");
                    $(".header-grid").css("top", "3%");
                    </script>
                    <li style="margin-right: 10px">
                        <div class="dropdown-top">
                            <a href="#">Welcome，{{ user.username }}</a>
                            <div class="dropdown-content-top">
                                <a href="{% url 'mainpage:personal_center' %}">Personal Center</a>
                                <a href="{% url 'login:log_out' %}">Logout</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'mainpage:shoppingcar' %}"><img class="shopping-car" src="{% static 'mainpage/css/images/shoppingcar.png' %}">
                        </a>
                    </li>
                    {% if user.is_shop %}
                    <li><a href="{% url 'shopmgr:index' %}" style="color: #7a7a7a">Order Manage</a></li>
                    {% else %}
                    <li><a href="{% url 'mainpage:register_shop' %}">Open Restaurant</a></li>
                    {% endif %} {% else %}
                    <script type="text/javascript">
                    $(".header-grid").css("left", "70%");
                    $(".header-grid").css("top", "3%");
                    </script>
                    <li><a href="{% url 'login:index' %}">Sign in</a></li>
                    <label>|</label>
                    <li style="margin-right: 10px"><a href="{% url 'login:jmp_to_register' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="logo">
                <h1>
                <a href="{% url 'mainpage:index' %}">Online Order</a>
            </h1>
                <a href="{% url 'mainpage:location' %}" style="margin-left:170px;font-size: 1em;color:#000;text-decoration: none;">My Position</a>
            </div>
            <div class="contact-in">
                <h2>Location</h2>
                <div id="allmap">
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    <div class="footer-bottom ">
                        <p class="footer-grid">Copyright &copy; ZIYANG WANG &amp; MIAO GAO</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var loc = { lat: -34.397, lng: 150.644 };
    var requestBody = {
        "homeMobileCountryCode": 310,
        "homeMobileNetworkCode": 410,
        "radioType": "gsm",
        "carrier": "Vodafone",
        "considerIp": "true",
        "cellTowers": [
            // See the Cell Tower Objects section below.
        ],
        "wifiAccessPoints": [
            // See the WiFi Access Point Objects section below.
        ]
    };
    // console.log(typeof requestBody);

    var map;

    function initMap() {
        $.ajax({
            type: 'POST',
            url: 'https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyCHPr9Sea5pe5xafX5R-fPFNsUXnOOVX-0',
            data: JSON.stringify(requestBody),
            success: function(data) {
                console.log(data);
                console.log(data['location']);
                loc = data['location'];
                map = new google.maps.Map(document.getElementById('allmap'), {
                    center: loc,
                    zoom: 16
                });
            },
            contentType: "application/json",
            dataType: "json"
        });

    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmhdRPxlmIYWS_VhIXLevV6FH8pa7JpVM&callback=initMap" async defer></script>Ï
</body>

</html>