<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Personal Center</title>
    <link rel="stylesheet" href="{% static 'mainpage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mainpage/css/indexstyle.css' %}">
    <link rel="stylesheet" href="{% static 'mainpage/css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'mainpage/css/personal_center.css' %}">
    <link rel="stylesheet" href="{% static 'mainpage/css/order.css' %}">

    <script src="{% static 'mainpage/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'mainpage/js/order.js' %}"></script>
    <script src="{% static 'mainpage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainpage/js/jquery.validate.js' %}"></script>
    <script src="{% static 'mainpage/js/jquery.validate.extend.js' %}"></script>
    <script src="{% static 'mainpage/js/add.address.js' %}"></script>
    <script src="{% static 'mainpage/js/address.showing.form.pager.js' %}"></script>

    <script>
    window.onerror = function(sMessage, sUrl, sLine) {
        alert("error\n" + sMessage + "\nURL:" + sUrl + "\nLine Number:" + sLine);
    }
    </script>

    <script>

    var isFirstAddress = 0;
    $(document).ready(function() {
        base_addr = "{% static 'mainpage/data/' %}";
        console.log(base_addr);
        jQuery.addrPrepare(base_addr); //load all js file

        $(".add-address-label").click(function() {
            $("#myAddrModal").modal('show');
        });
        $("#myAddrModal").on('hidden.bs.modal', function() {
            $(".selectTip").css("visibility", "hidden");
            $(".streetTip").css("visibility", "hidden");
            $(".postcodeTip").css("visibility", "hidden");
            $(".consigneeTip").css("visibility", "hidden");
            $(".phoneTip").css("visibility", "hidden");
            $(".address-form")[0].reset();

        });

        $(".addr_modal_ensure").click(function() {
            var flag = true;
            if ($(".province_select").val() == "-") {
                flag = false;
                $(".selectTip").css("visibility", "visible").text("Please fill the province!");
            } else if ($(".city_select").val() == "") {
                flag = false;
                $(".selectTip").css("visibility", "visible").text("Choose city!");

            } else if ($(".xian_select").val() == "") {
                flag = false;
                $(".selectTip").css("visibility", "visible").text("Please choose county");
            }

            if ($.trim($(".streetTextArea").val()) == "") {
                flag = false;
                $(".streetTip").css("visibility", "visible").text("Please write street address");
            }

            if ($.trim($(".postcodeInput").val()) == "") {
                flag = false;
                $(".postcodeTip").css("visibility", "visible").text("Zipcode!");
            }

            if ($.trim($(".consigneeInput").val()) == "") {
                flag = false;
                $(".consigneeTip").css("visibility", "visible").text("Please give a consignee name!");
            }
            if ($.trim($(".phoneInput").val()) == "") {
                flag = false;
                $(".phoneTip").css("visibility", "visible").text("Please give consignee's cellphone!");
            }
            if (flag == true) {
                shengfen = $(".province_select").val();
                chengshi = $(".city_select").val();
                quxian = $(".xian_select").val();
                jiedao = $.trim($(".streetTextArea").val());
                youbian = $.trim($(".postcodeInput").val());
                shouhuoren = $.trim($(".consigneeInput").val());
                shoujihao = $.trim($(".phoneInput").val());
                $("#myAddrModal").modal("hide");
                //将完善信息存入数据库中
                $.post("{% url 'mainpage:add_addr' %}", {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    province: shengfen,
                    city: chengshi,
                    county: quxian,
                    street: jiedao,
                    consignee: shouhuoren,
                    consignphone: shoujihao,
                    postcode: youbian,
                    moren: isFirstAddress
                }, function(result, status) {
                    if (result == 1) { //信息插入成功
                        alert("Add address successfully!");
                        var addrs_total_num; //地址条数
                        $.get("{% url 'mainpage:get_address_count' %}", function(data, status) { //获得用户地址信息数
                            addrs_total_num = data;
                            console.log("插入后地址数目："+addrs_total_num);
                            $(".addr-list").empty();
                            if (data == 0) {
                                isFirstAddress = 1;
                                $('<h5>You do not have an address. Please Add one.</h5>').appendTo(".addr-list");
                            } else {
                                showAddrTable(data);
                            }

                        });

                    } else {
                        alert("Add address failed!");
                    }

                });
                $("#myAddrModal").show('hide');


            }

        });
        function htmlEntities(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }

        $(".require-label").prepend('&nbsp;<strong><font color="#FF0000">*</font></strong>&nbsp;');
        $(".personal-center-content-left ul li a").click(function(event) {
            event.preventDefault();
            if ($(this).text() != "三个月订单") {
                $(".orders-li").removeClass("active");

                if ($(this)[0].name === "account-a") { //选中的是我的账号模块

                    var username = "{{user.username}}"; //将session中的用户名赋给usermane;
                    $(".row-username").html(htmlEntities(username));

                    /*
                     *从数据库中获得当前登陆用户的手机号，邮箱，此处在正式应用时应做缓存处理，
                     *避免每次选中模块就要查询数据库
                     */
                    $.get("{% url 'mainpage:query_user_info' %}", function(data, status) {
                        var obj = JSON.parse(data);
                        if ($.isEmptyObject(obj) == 0) { //json is not none
                            var tel = obj.phone;
                            var email = obj.email;
                            var showTel = tel.substr(0, 3) + " * * * * " + tel.substr(7);
                            $(".row-tel").html(showTel);
                            $(".row-email").html(email);
                        }

                    });
                } else { //选中地址管理模块
                    var addrs_total_num; //地址条数
                    $.get("{% url 'mainpage:get_address_count' %}", function(data, status) {
                        addrs_total_num = data;
                        if (data == 0) {
                            $(".addr-list").empty();
                            isFirstAddress = 1;
                            $('<h5>You do not have an address. Please Add one.</h5>').appendTo(".addr-list");
                        } else {
                            $(".addr-list").empty();
                            showAddrTable(data);
                        }

                    });
                }

                $(this).tab('show');

            } else {
                initialOrdersTables();
                if ($(".account-li").hasClass("active")) {
                    $(".account-li").removeClass("active")
                } else {
                    $(".addr-li").removeClass("active");
                }
                $(this).tab('show');
            }
        });

        //初次显示三个月订单tab页
        $(".orders-li a:first").tab('show');
        initialOrdersTables();

        //我的账号tab页中修改密码模态框中表单的验证器
        var changePasswordValidator = $("#regForm").validate({
            rules: {
                originPassword: {
                    required: true,
                },
                newPassword: {
                    required: true,
                },
                repassword: {
                    required: true,
                    equalTo: "#newPassword"
                },
            },
            messages: {
                originPassword: {
                    required: "Current Password couldn't be empty",
                },
                newPassword: {
                    required: "New Password could not be empty",
                },
                repassword: {
                    required: "Confirm Password could not be empty",
                    equalTo: "New password confirm error"
                },
            }
        });

        $(".password-change-a").click(function(event) {
            event.preventDefault();
            $("#changePasswordModal").modal('show');
        });

        $(".account-cancle-a").click(function(event) {
            event.preventDefault();
        });

        $("#changePasswordModal").on('hidden.bs.modal', function() {
            $("#regForm")[0].reset(); //reset form
            changePasswordValidator.resetForm(); //remove tips
            $(".origin-password-wrong-label").css("visibility", "hidden");
        });

        $(".change-password-ensure-btn").click(function() {
            $(".origin-password-wrong-label").css("visibility", "hidden");

            if ($("#regForm").valid()) { //valid form
                var originPassword = $("#originPassword").val();
                console.log("check origin password");
                //user参数后填登陆的用户的用户名，此处判断原密码是否正确，若正确返回1
                $.post("{% url 'mainpage:check_origin_pwd' %}", {
                    csrfmiddlewaretoken: '{{csrf_token}}',
                    originPass: originPassword
                }, function(result, status) {
                    if (result == 1) { //原密码正确
                        var newPassword = $("#newPassword").val();
                        //user参数后填登陆的用户的用户名,此处修改数据库中用户的密码，若修改成功返回1
                        $.post("{% url 'mainpage:change_password' %}", {
                            csrfmiddlewaretoken: '{{csrf_token}}',
                            newPass: newPassword
                        }, function(result, status) {
                            if (result == 1) { //新密码插入数据库成功
                                $("#changePasswordModal").modal('hide');
                                alert("Change password successfully!");
                                location.href = "{% url 'login:index' %}"
                            }
                        });
                    } else { //current password error
                        $(".origin-password-wrong-label").css("visibility", "visible");
                    }
                });
            }

        });


    });
    </script>
</head>

<body>
    <!-- change email modal -->
    <div class="modal fade" id="change_email_modal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="changePasswordModalLabel">Update email</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="regForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label require-label">New email</label>
                            <input type="text" id="new_email_input" autocomplete="off"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="chg_email_btn">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- address modal -->
    <div class="modal fade" id="myAddrModal" tabindex="-1" role="dialog" aria-labelledby="myAddrModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myAddrModalLabel">Fill the address</h4>
                </div>
                <div class="modal-body">
                    <div class="add_addr_div">
                        <form class="form-horizontal address-form" role="form">
                            <div class="form-group">
                                <label class="col-xs-2  control-label require-label">Area</label>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <div class="col-xs-4 select-div">
                                            <label for="province_select_id">State</label>
                                            <input class="province_select" id="province_select_id" name="province">
                                            <br>
                                            <label for="city_select_id">City</label>
                                            <input class="city_select" id="city_select_id" name="city">
                                            <br>
                                            <label for="county_select_id">County</label>
                                            <input class="xian_select" name="xian" id="county_select_id">

                                        </div>
                                        <label class="col-xs-6 control-label selectTip errorTip" for="province_select_id">XXXX</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label require-label">Address</label>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <textarea class="form-control streetTextArea"></textarea>
                                        </div>
                                        <label class="col-xs-5 control-label streetTip errorTip">Please fill the address!</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label require-label">zipcode</label>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control postcodeInput">
                                        </div>
                                        <label class="col-xs-5 control-label postcodeTip errorTip">Please fill the zipcode!</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label require-label">Deliver Name</label>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control consigneeInput">
                                        </div>
                                        <label class="col-xs-5 control-label consigneeTip errorTip">Please fill the consignee!</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label require-label">Cellphone</label>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <div class="col-xs-5">
                                            <input class="form-control phoneInput">
                                        </div>
                                        <label class="col-xs-5 control-label phoneTip errorTip">Cellphone!</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label"></label>
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <div class="col-xs-8">
                                            <button type="button" class="btn btn-success addr_modal_ensure">Confirm
                                            </button>
                                            <a class="addr-cancle-a" href="#" data-dismiss="modal">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- change password modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="changePasswordModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="regForm" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label require-label">Current Password</label>
                            <input type="password" id="originPassword" name="originPassword" class="item-text" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label require-label">New Password</label>
                            <input type="password" id="newPassword" name="newPassword" class="item-text" placeholder="new password">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label require-label">Confirm New Password</label>
                            <input type="password" name="repassword" class="item-text" placeholder="confirm">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="form-group col-sm-9">
                                <div style="margin-left:20px">
                                    <button type="button" class="btn btn-success change-password-ensure-btn">
                                        Confirm
                                    </button>
                                    <a class="account-cancle-a" href="#" data-dismiss="modal">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <label class="origin-password-wrong-label" style="visibility:hidden;color:red;float:left">Current not correct!</label>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- header -->
    <header>
        <div class="header-top-bar">
            <ul class="header-grid">
                <script>
                $(".header-grid").css("left", "70%");
                </script>
                <li style="margin-right: 10px">
                    <div class="dropdown-top">
                        <a href="#">Welcome, {{user.username}}</a>
                        <div class="dropdown-content-top">
                            <a href="{% url 'mainpage:personal_center' %}" style="font-size: 1.1em">Personal Center</a>
                            <a href="{% url 'login:log_out' %}" style="border-bottom: none;font-size: 1.1em">Logout</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="{% url 'mainpage:shoppingcar' %}"><img class="shopping-car" src="{% static 'mainpage/css/images/shoppingcar.png' %}"></img>
                    </a>
                </li>
            </ul>
        </div>
        <div class="logo">
            <h1>
                <a href="{% url 'mainpage:index' %}">Online Order</a>
            </h1>
        </div>
    </header>
    <!-- /header -->

    <!-- body-content -->
    <div class="personal-center-content">
        <div class="personal-center-content-left">
            <h4>Order query</h4>
            <ul class="nav nav-pills">
                <li class="orders-li"><a href="#three-moths-orders" name="orders-a">Last Three Month</a></li>
            </ul>
            <h4 style="margin-top:20px">Account Management</h4>
            <ul class="nav nav-pills">
                <li class="account-li"><a href="#my-account" name="account-a">My Account</a></li>
                <li class="addr-li"><a href="#addr-management" name="addr-management-a">Address Management</a></li>
            </ul>
        </div>
        <!-- tab-pane的内容 -->
        <div class="personal-center-content-right tab-content" id="personal_center_right">
            <div class="tab-pane fade in orders-div in" id="three-moths-orders">
                <div class="orders-list" id="orders-list">
                    <script>

                        $("#order").each(function(){
                            if($(this).find(".has-gotten-goods").length==1){
                            //if delivered
                                $(this).find(".go-comment").css("visibility","visible");
                            }else{
                                $(this).find(".go-comment").css("visibility","hidden");
                            }

                            $(this).find(".need-confirm").click(function(){
                                //var orderId=$(this)
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="tab-pane fade account-div" id="my-account">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            Username:
                        </div>
                        <div class="col-xs-6 row-username" style="margin-left: -35px">
                        </div>
                        <div class="col-xs-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            Cellphone: 
                        </div>
                        <div class="col-xs-6 row-tel" style="margin-left: -35px">
                        </div>
                        <div class="col-xs-3">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            email：
                        </div>
                        <div class="col-xs-6 row-email" style="margin-left: -35px">
                            764424892@qq.com
                        </div>
                        <div class="col-xs-3">
                            <a class="account-a" href="#" id="toggle_email_modal">change</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            password：
                        </div>
                        <div class="col-xs-6 row-password" style="margin-left: -35px">
                            .&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;.
                        </div>
                        <div class="col-xs-3">
                            <a class="account-a password-change-a" href="#">change</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade addr-management-div" id="addr-management">
                <div class="addr-list" id="addr-list"></div>
                <label class="add-address-label" style="margin-top:30px">+add address</label>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <script>
        $('#personal_center_right').on('click', '.need-confirm', function(){
            var orderNum = $(this).parents('table').attr('val');
            $.post("{% url 'mainpage:confirm_order' %}", {
                csrfmiddlewaretoken: '{{csrf_token}}',
                orderNum: orderNum
            }).done(function(data){
                alert("Food delivered!");
                location.reload(true);
            });
        });
        $('#toggle_email_modal').click(function(event){
            event.preventDefault();
            $("#change_email_modal").modal('show');
        });
        $('#chg_email_btn').click(function(){
            var new_email = $('#new_email_input').val();
            $.post('change_email', {
                csrfmiddlewaretoken: '{{csrf_token}}',
                new_email: new_email
            }).done(function(data){
                if(data == 1){
                    alert('change successfully!');
                }
                else{
                    alert('change failed! Please check your new email address!');
                }
                location.reload(true);
            });
            $('#change_email_modal').modal('hide');
        });
    </script>

    <footer class="myfooter">
        <div class="container">
            <div class="footer-bottom ">
                <p class="footer-grid">Copyright &copy; ZIYANG WANG &amp; MIAO GAO</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </footer>
</body>

</html>